* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(70, 142, 236);
    font: normal 15pt arial;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
    color: #fff;
}

.section-principal {
    width: 500px;
    height: 500px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    margin-top: 50px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 30px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}